# Uncomment this if you have problems with RewriteRule download. See 'PrettyUrls' on BitWeaver's wiki.
# Options -MultiViews
<IfModule mod_rewrite.c>
	RewriteEngine  on
	RewriteRule    ^gallery/([0-9]+)(.*)$      view.php?content_id=$1$2  [L,QSA]
	RewriteRule    ^file/([0-9]+)/?([0-9]+)?$  view_item.php?content_id=$1&structure_id=$2  [L,QSA]
	RewriteRule    ^download/([0-9]+)?$        download.php?content_id=$1  [L,QSA]
	RewriteRule    ^structure/([0-9]+)?$       view.php?structure_id=$1  [L,QSA]
</IfModule>
